__pycache__/
*.pyc
.venv/
venv/
env/

.env

data/raw/*
data/intermediate/*
data/output/*
!data/raw/.gitkeep
!data/intermediate/.gitkeep
!data/output/.gitkeep

logs/*
!logs/.gitkeep

.ipynb_checkpoints/
*.ipynb

.DS_Store
*.log
